In [37]:
num1 = 1
num2 = 3
num3 = 5
num4 = 7
num5 = 9

print(num2)

#리스트
odd = []
odd = [1,3,5,7,9]

a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print(a)
print(b)
print(b[2])
print(b[-1])
print(e[2])
print(e[2][0])  #print(e[2][0]) == print(e[-1][0])
print(e[-1][0])

3
[]
[1, 2, 3]
3
3
['Life', 'is']
Life
Life

In [18]:
#인덱스 : 특정 원소 1개를 접근 사용할 때
#슬라이싱 : 범위를 지정하여 원수에 접근 사용할 때

a = [1,2,3,4,5]
print(a)
print(a[0:2])
print(a[:2])
print(a[2:])

b = a[0:2]
print(b)

[1, 2, 3, 4, 5]
[1, 2]
[1, 2]
[3, 4, 5]
[1, 2]

In [28]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

#['a', 'b']
print(a[3][:2])

['a', 'b']

In [35]:
#리스트 연산 하기
#리스트 더하기

a = [1,2,3]
b = [4,5,6]

print(a + b) #하나의 리스트로 합친다.
print(a * 3) 

#리스트의 길이 구하기
print(len(a))

#print(a[0] + "hi") #숫자와 문자는 결합 불과 error
#str(숫자)
print(str(a[0]) + "hi")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
1hi

In [42]:
#수정, 삭제, 추가
a = [1,2,3]
a[2] = 4
print(a)

del a[1]
print(a)

[1, 2, 4]
[1, 4]

In [49]:
a =[1,2,3,4,5]
del a[2:]
print(a)

[1, 2]

In [79]:
a = [1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [55]:
#리스트 정렬
#오름차순, 내림차순
a = [1,4,5,2,3]
a.sort() #오름차순
print(a)
a.sort(reverse=True) #내림차순
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [76]:
#reverse(좌우 대칭)
a = [2,1,5,4,3]
a.reverse()
print(a)
print(a.index(3)) #값의 위치값(index)를 반환한다.

[3, 4, 5, 1, 2]
0

In [60]:
#리스트의 특정 위치에 값 삽입
a = [1,2,3]
a.insert(0,4)
print(a)

[4, 1, 2, 3]

In [66]:
a = [1,2,3,1,2,3]
a.remove(3) #del a[2]
print(a)

[1, 2, 1, 2, 3]

In [71]:
a = [1,2,3]
a.pop() #마지막 값을 끄집어낸다
print(a)
a.pop(0) # pop(index)
print(a)

[1, 2]
[2]

In [77]:
a = [1,2,3,1]
print(a.count(1)) # 특정값의 갯수를 확인

2

In [82]:
a = [1,2,3]
a.extend([4,5]) #차이점 a.append([4,5]) [1,2,3,[4,5]] a.insert(0,[4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#튜플(tuple)
#리스트와 튜플의 차이점
#튜플은 값을 변경할 수 없다.
#리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
#리스트는 요소 값의 생성, 삭제, 수정이 가능하지만 튜플은 요소 값을 바꿀 수 없다.
t1 = ()                       # a = []
t2 = (1,)                     # a = [1]
t3 = (1, 2, 3)                # a = [1,2,3]
t4 = 1, 2, 3                  # a = 1,2,3  불가능
t5 = ('a', 'b', ('ab', 'cd')) # a = [1,2,[3,4]]

In [87]:
t1 = (1,2,'a','b')
#del t1[0] #error
#t1[0] = 7 #error

In [95]:
t1 = (1,2,'a','b')
print(t1[0])
print(t1[1:])
print(t1 * 3)
print(len(t1))
print(type(t1))

1
(2, 'a', 'b')
(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')
4
<class 'tuple'>

In [105]:
#리스트 -> 튜플
a = [1,2,3,4,5]
print(a)
t = tuple(a)
print(t)

#튜플 -> 리스트
t = (1,2,3,4,5)
print(t)
a = list(t)
print(a)
print(type(a))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
<class 'list'>

In [9]:
#딕셔너리
dic = {}
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}
a = {1:"hi"}
a = {'a':[1,2,3]}
print(a)
print(type(a))

{'a': [1, 2, 3]}
<class 'dict'>

In [20]:
# 추가, 삭제, 변경
a = {1:'a'}
a[2] = 'b' # key : 2, value = 'b'
print(a)
a['name'] = 'pey'
print(a)
del a['name']
print(a)
a[3] = [1,2,3]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [27]:
grade = {'pey':10, 'julliet':90, 1:'hi'}
print(grade['pey'])  # 해당 key값의 value
print(grade[1])

10
hi

In [32]:
a= {1:'a', 1:'b'} #key값이 동일하면 마지막 값 하나만 인정
print(a)

# a= {[1,2]:'hi'} #리스트는 key값으로 사용 불가
a[1] = 'c'        #기존 key값을 사용해서 value값 변경
print(a)

{1: 'b'}
{1: 'c'}

In [42]:
#키값만 가져와서 리스트 만들기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.keys())
print(a.values())
print(a.items())

for k in a.keys():
    print(k)
    
b = list(a.keys())  #리스트 형식으로 변환
print(b)
print(b[0])

a.clear()      #전체 딕셔너리 삭제
print(a)

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '010-9999-1234', '1118'])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])
name
phone
birth
['name', 'phone', 'birth']
name
{}

In [48]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a['name'])    # print(a['name']) == print(a.get('name'))
print(a.get('name'))
# print(a['name']) 값이 없으면 오류
# print(a.get('name')) 값이 없으면 None

#in 연산자 : 해당값을 포함하는지에 대한 유무
print('name' in a) # True or False
print('abc' in a)

pey
pey
True
False

In [58]:
#집합 자료형
#순서없이 데이터 저장, 중복을 허용 안함
#합집합, 교집합, 차집합

s1 = {1,2,3,4,5}
print(s1)
s2 = set('HELLO')  # 순서없이 데이터 저장, 중복을 허용 안함
print(s2)
print(type(s2))
s3 = set([1,2,3])
print(s3)

#set -> list
a = list(s1)
print(a)

#set -> tuple
b = tuple(s1)
print(b)

{1, 2, 3, 4, 5}
{'E', 'H', 'O', 'L'}
<class 'set'>
{1, 2, 3}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [64]:
#합집합, 교집합, 차집합
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
#교집합
a = s1 & s2 # & -> intersection
print(a)

#합집합
b = s1 | s2 # | -> union
print(b)

#차집합
c = s1 - s2 # - -> differencce
print(c)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [69]:
s1 = {1,2,3}
s1.add(4)
print(s1)
s1.update([5,6,7])
print(s1)
s1.remove(2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}

In [72]:
# 자료형변환
# list(), tuple(), set()

a = [1,2,3,4,5]
b = [3,4,5,6,7]

s1 = set(a)
s2 = set(b)

print(s1)
print(s2)

result = s1 & s2
print(result)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{3, 4, 5}

In [90]:
#관계연산자
# ==, !=, <, >, <=, >=

#불 자료형
#True or False
print( 1 == 1 )
print( 1 != 1 )

#숫자 : 0 을 제외하고 모두 참
#문자 : "" 를 제외하고 모두 참
#리스트, 튜플, 딕셔너리는 값이 있으면 모두 참
#None이면 거짓

if []:
    print("참");
else:
    print("거짓");
    
print(bool("python"))
print(bool(""))

True
False
거짓
True
False

In [101]:
x = 10
y = 20
print(x)
print(id(x))
print(id(y))

10
140720853873736
140720853874056

In [103]:
a = [1,2,3]
b = a  #주소값까지 같이 복사

print(id(a))
print(id(b))

a[0] = 5
print(a)
print(b)

2277045605504
2277045605504
[5, 2, 3]
[5, 2, 3]

In [121]:
a = [1,2,3]
b = a[:]   # a[:] 전체 데이터, 값만 복사

print(a)
print(a[:])
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3]
2277045931648
2277045922944

In [124]:
from copy import copy
a = [1,2,3]
b = copy(a)   #물리적인 값의 복사

a[0] = 5
print(a)
print(b)

[5, 2, 3]
[1, 2, 3]

In [126]:
a,b = ['Python','Life'] #각각의 변수에 값을 1:1 매칭
print(a)
print(b)

Python
Life

In [136]:
t = (a,b) = 'python', 'Life'
print(t)

('python', 'Life')

In [132]:
a = b ='python'
print(a,b)

python python

In [137]:
a = 10
b = 20
a,b = b,a
print(a)
print(b)

20
10

In [3]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

movie_rank.append("배트맨")
print(movie_rank)

movie_rank.insert(movie_rank.index("닥터 스트레인지"),"슈퍼맨")
print(movie_rank)

movie_rank.remove("럭키")
print(movie_rank)

del movie_rank[2:4]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['슈퍼맨', '닥터 스트레인지', '스플릿', '럭키', '배트맨']
['슈퍼맨', '닥터 스트레인지', '스플릿', '배트맨']
['슈퍼맨', '닥터 스트레인지']

In [8]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
#langs = lang1[:]
#langs.extend(lang2)
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [6]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
[2, 4, 6, 8, 10]

In [9]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a = ''
for i in interest:
    a += i
    a += '/'
a = a[:-1]
print(a)
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우